@import "./utils/variables";
@import "body";
@import "./components/logo";
@import "./components/hero";
@import "./components/modal";
@import "./components/feauteres";
@import "./components/cont-img";
@import "./components/comanda";
@import "./components/client";
@import "./components/footer";
@import "./components/menu-portfolio";
@import "./components/portfolio";




.site-nav-a {
    padding-top: 32px;
    padding-bottom: 32px;
}

.list {
    margin-left: 93px;
}


.site-nav .site-nav-li+.site-nav-li {
    margin-left: 50px;

}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.web-sait {

    min-width: 125px;
}

.addition {

    min-width: 112px;
}

.design {

    min-width: 103px;
}

.marketing {

    min-width: 130px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .site-nav-li+.site-nav-li {
    margin-left: 50px;
}

.contacts {
    fill: currentColor;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}


.icona-contacts {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.smartfon {
    width: 10px;
    height: 16px;
}

.icona-contacts:hover,
.icona-contacts:focus {
    fill: var(--accent-color);
}


.close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close:hover,
.close:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    fill: var(--accent-color);
}

.icona-close {
    width: 18px;
    height: 18px;
}


.title {
    color: var(--secondary-header-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;

}



h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


.title-inform {
    font-size: 16px;
    color: var(--primary-text-color);
    line-height: 1.87;
    margin-top: 4px;
    margin-bottom: 0px;

}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

